html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fefefe;
}

small {
  font-size: 87%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  color: #34495e;
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.portrait {
  max-width: 240px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sidebar {
  margin-top: 40px;
  margin-bottom: 50px;
  padding-right: 40px;
}

.sidebar__contactList {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.sidebar__contactList > li {
  display: inline-block;
  margin-left: 10px;
}

.sidebar__contactIcon {
  font-size: 20px;
}

.work-section,
.skills-section,
.projects-section,
.blog-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.project {
  margin-bottom: 30px;
}

.footer {
  padding: 30px;
  text-align: center;
}

.heart {
  color: #e74c3c;
}

@media screen and (min-width: 992px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sidebar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 100px;
  }
}
