:root {
  --heading-color: #34495e;
  --link-color: #14939a;
  --list-connector-color: #e0e0e0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fefefe;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  color: var(--heading-color);
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.portrait {
  max-width: 240px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.sidebar {
  margin-top: 40px;
  margin-bottom: 50px;
  padding-right: 40px;
}

.contact-list {
  list-style: none;
  padding-left: 0;
}

.contact-list > li {
  display: inline-block;
}

.contact-list > li:not(:first-child) {
  margin-left: 10px;
}

.contact-icon {
  font-size: 20px;
}

.item-details {
  font-size: 90%;
  color: var(--gray);
}

.job-list {
  list-style: none;
  padding-left: 0;
}

.job-position-list {
  margin-bottom: 6px;
}

.job-position-list > li {
  position: relative;
}

.job-position-list > li:first-child {
  margin-top: -4px;
}

.job-position-list > li:not(:last-child)::before {
  content: '';
  position: absolute;
  height: calc(100% - 22px);
  min-height: calc(32px - 22px);
  top: 21px;
  left: -15px;
  width: 1px;
  background-color: var(--list-connector-color);
}

.heart {
  color: #e74c3c;
}

@media screen and (min-width: 992px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sidebar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 100px;
  }
}
